@model List<BlogDataModel>
@{
    ViewData["Title"] = "Blog Index";
    int count = 0;
    string message = null;
    bool isSuccess = false;
}

<div class="d-flex justify-content-between my-3">
    <h3>
        <label class="fw-bold">Blog List</label>
    </h3>
    <div>
        <a href="/blog/create" class="btn btn-primary">
            Create
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Content</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@(++count)</th>
                <td>@item.Blog_Title</td>
                <td>@item.Blog_Author</td>
                <td>@item.Blog_Content</td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        console.log("Testing");
    </script>
}