@model BlogListResponseModel
@{
    ViewData["Title"] = "BlogRestClient";
    int count = 0;
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Content</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Blogs)
        {
            <tr>
                <th scope="row">@(++count)</th>
                <td>@item.Blog_Title</td>
                <td>@item.Blog_Author</td>
                <td>@item.Blog_Content</td>
                <td>
                    <a class="btn btn-warning" href="/blogrestclient/edit?id=@item.Blog_Id">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <a class="btn btn-danger" href="/blogrestclient/delete?id=@item.Blog_Id">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>

        }
    </tbody>
</table>