﻿<main>
    <form action="/login/index" method="post">
        <h1 class="h3 mb-3 fw-normal">Sign In</h1>

        <div class="form-floating">
            <input type="text" class="form-control" name="CardNum">
            <label for="floatingInput">Card Number</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="CardPin">
            <label for="floatingPassword">Pin Number</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit" href="/">Sign in</button>
    </form>
</main>