﻿<form action="/atm/check" method="get">

    <div class="mb-3">
        <label class="form-label">CardNumber</label>
        <input type="text" name="CardNum" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">PinNumber</label>
        <input type="text" name="CardPin" class="form-control">
    </div>
    <a href="/atm" type="button" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-success">Check Balance</button>
</form>
