﻿﻿<form action="/atm/save" method="post">

	<div class="mb-3">
		<label class="form-label">CardNumber</label>
		<input type="text" name="CardNum" class="form-control">
	</div>
	<div class="mb-3">
		<label class="form-label">PinNumber</label>
		<input type="text" name="CardPin" class="form-control">
	</div>
	<div class="mb-3">
		<label class="form-label">FirstName</label>
		<input type="text" name="FirstName" class="form-control">
	</div>
	<div class="mb-3">
		<label class="form-label">LastName</label>
		<input type="text" name="LastName" class="form-control">
	</div>
	<div class="mb-3">
		<label class="form-label">Balance</label>
		<input type="text" name="Balance" class="form-control">
	</div>
	<a href="/atm" type="button" class="btn btn-secondary">Cancel</a>
	<button type="submit" class="btn btn-success">Save</button>
</form>